<div class="container">
  <br>
  <h2>Update Password</h2>
  <app-error-message [message]="errorMessage"></app-error-message>
  <app-error-message [message]="successMessage"></app-error-message>
  <br>
  <form (submit)="onSubmit()">
    <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" required hidden>
    <div class="form-group">
      <label for="password">New Password</label>
      <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="isLoading">Submit</button>
  </form>

  <div *ngIf="isLoading">
    <p>Submitting...</p>
  </div>
</div>
