<div class="login-container">
  <br>
  <h1>Login</h1>

  <app-error-message [message]="errorMessage"></app-error-message>

  <br>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" autocomplete="on" formControlName="email" required />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" autocomplete="on" formControlName="password" required />
    </mat-form-field>

    <button type="submit" class="btn btn-primary"
      [disabled]="isLoading || !loginForm.valid">Login</button>
  </form>


  <div *ngIf="isLoading">
    <p>Submitting...</p>
  </div>


  <a routerLink="/forgot-password">Forgot Password</a>
  <hr>
  <a routerLink="/register">Register Here</a>


</div>
