.mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgba(0, 0, 0, 0.12) !important;
  }
  
  .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: rgba(0, 0, 0, 0.54) !important;
  }
  
  .mat-form-field-appearance-outline .mat-form-field-label {
    color: rgba(0, 0, 0, 0.54) !important;
  }
  
  .mat-input-element {
    color: rgba(0, 0, 0, 0.87) !important;
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
