<div class="register-container">
  <br>
  <h1>Register</h1>
  <app-error-message [message]="errorMessage"></app-error-message>

  <br>

  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput type="name" autocomplete="on" formControlName="name" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" autocomplete="on" formControlName="email" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" autocomplete="on" formControlName="password" required />
    </mat-form-field>

    <button type="submit" class="btn btn-primary" [disabled]="isLoading || !registrationForm.valid">Register</button>

  </form>

  <div *ngIf="isLoading">
    <p>Submitting...</p>
  </div>

  <a routerLink="/login">Login Here</a>
</div>
